#arg01body {
    background-color: black;
}

p {
    color: white;
    text-align: center;
    margin-top: 200px;
}

.btn {
    background-color: gray;
    margin-left: 617px;
    margin-top: 75px;
    cursor: pointer;
}

#voiceBtn {
    display: block;
}

#textRiddle {
    display: none;
    background-color: gray;
    margin-left: 547px;
    margin-top: 100px;
}

#textRiddleSubmit {
    display: none;
    background-color: gray;
    margin-left: 606px;
    margin-top: 10px;
}