.selector {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@font-face {
    font-family: 'Old London';
    src: url("../fonts/OldLondon.ttf");
}

#mainLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 25%;
}

.lucidaSans {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#introText {
    text-align: center;
}

.btn {
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
    text-shadow: 1px 1px 2px gray;
    cursor: pointer;
    min-width: 100px;
    max-width: 100%;
}

.btnContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

p {
    text-shadow: 1px 1px 1px gray;
}

#petPantheonIntro {
    font-family: 'Old London';
    font-size: 100px;
    text-align: center;
    text-shadow: 5px 5px 1px rgba(184, 173, 22, 0.774);
}