.selector {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@font-face {
    font-family: 'Old London';
    src: url("../fonts/OldLondon.ttf");
}

#mainLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 25%;
    transition: 0.2s;
}

#mainLogo:active {
    transform: scale(1.05);
}

.lucidaSans {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#introText {
    text-align: center;
}

.btn {
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
    text-shadow: 1px 1px 2px gray;
    cursor: pointer;
    min-width: 100px;
    max-width: 100%;
    background-color: rgb(95, 194, 255);
    transition: 0.3s;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; 
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.btn:hover {
    background-color: rgba(50, 129, 179, 0.879);
    transform: scale(1.05);
}

.btnContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



p {
    text-shadow: 1px 1px 1px gray;
}

#petPantheonIntro {
    font-family: 'Old London';
    font-size: 100px;
    text-align: center;
    text-shadow: 5px 5px 1px rgba(184, 173, 22, 0.774);
}

#indexBody {
    background-image: url("../img/indexbackground.png");
    background-size: 1280px 720px;
    background-repeat: no-repeat;
}

#staffBody {
    background-image: url("../img/staffbackground.png");
    background-size: 1280px 720px;
    background-repeat: no-repeat;
}

#activitiesBody {
    background-image: url("../img/activitiesbackground.png");
    background-size: 1280px 720px;
    background-repeat: no-repeat;
}